.jumbotron {
    background-color:#b1315d;
    color:white;
    font-weight: bold;
    margin-top:56px;
} 
.btn{
    background-color:#b1315d;
    color:white;
}
.btn:hover{
    background-color:yellow;
    color:black;
}

.footer{
    background-color:#b1315d;
    color:white;
    padding:10px 20px;
    margin-top:20px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 5px;
    margin-top:10px;
}

.footer-address-icon{
    padding:10px;
}

.producto-agregar-icon{
    padding:10px;
}
